.movie-card {
    display: block;
    text-align: center;
    padding: 10px;
}

.movie-card-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card-container{
    position: relative;
}

.movie-card-overlay{
    position: absolute;
    top: 72px;
    left: 10px;
    height: 300px;
    width: 218.17px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(75, 70, 70, 0.705);
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.movie-card-overlay:hover{
    opacity: 0.6;
}

/* .movie-card-text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
} */