.App{
    background-color: grey;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(124, 11, 11);
}


.navbar li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.navbar li a:hover {
    background-color:black ;
}

.navbar > .active > a{
    background-color: #4CAF50;
}

.movie-card {
    display: block;
    text-align: center;
    padding: 10px;
    z-index: 1;
    width: 20%;
    
  }
  
  .movie-card-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
  }
  
  .movie-card-container{
    position: relative;
  }

  .movie-card-rank{
    text-align: center;
    margin-left: 200%;
  }
  

  
  .movie-card-overlay{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 300px;
    width: 218.17px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(10, 10, 10, 0.904);
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .movie-card-overlay:hover{
    opacity: 0.95;
  }
  
  .movie-card-text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    
  }

  .movie-card-poster{
    border-radius: 8px;
  }
  
  .pop-up-container{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
  }
  
  .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8);
    z-index: 100;
  }
  
  .pop-up{
    position: absolute;
    background: rgba(236, 218, 218, 0.89);
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 95%;
    height: 95%;
    margin-top: 4.5%;
  }
  
  .close-pop-up{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }
  
  body.active-modal {
    overflow-y: hidden;
  }
  
  .pop-up-header{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 45px;
  }
  
  .pop-up-media{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
  }
  
  .pop-up-actors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 200px;
  }
  
  .pop-up-actor{
    padding-bottom: 4px ;
    border-radius: 8px;
  }
  
  .pop-up-poster{
    border-radius: 8px;
  }
  
  .pop-up-sim-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 200px;
  }
  
  .pop-up-sim-movie{
    padding-bottom: 4px;
    border-radius: 8px;
  }
  
  .pop-up-text{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .pop-up-text-left{
    max-width: 60%;
    text-align: justify;
  }
  
  .pop-up-text-left h4 {
    border-bottom: 2px solid black;
  }
  
  .pop-up-text-right {
    margin-left: 4%;
  }
  
  
  
  .pop-up-genres{
    display: flex;
    justify-content: flex-start;
  }
  
  .pop-up-genres h4{
    padding: 5px;
    margin-right: 0.25rem;
    margin-top: 15px;
    background-color: rgb(109, 89, 199);
    border-radius: 5px;
    border: 2px solid black;
  }
  
  .pop-up-money h4{
    padding: 5px;
    margin-right: 0.25rem;
    background-color: green;
    border-radius: 5px;
    border: 2px solid black;
  }
  
  
  .pop-up-trailer{
    border-radius: 8px;
  }
  
  .pop-up-btn{
    margin-left: 3%;
    margin-top: 5%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    height: 30%;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-right: 3%;
  }
  
  .pop-up-btn:hover{
    background-color: red;
    color: white;
  }