.movie-card {
    text-align: center;
    padding: 10px;
}

.movie-card-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card-overlay{
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(90, 86, 86, 0.39);
}

.movie-card:hover .movie-card-overlay{
    opacity: 0.6;
}

.movie-card-text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
}